:root{
    --buttonBg: hsl(182,84%,40%);
    --buttonHover: hsl(182,84%,35%);
    --siteBg: hsl(179,10%,90%);
    --inputBg: hsl(179,10%,95%);
    --siteTxt: hsl(184,97%,10%);
    --siteTxtAlt: hsl(349, 83%,26%);
      
}
* {
    box-sizing: border-box;
}

/* || Universal styles */

body {
    margin: 0 auto;
    max-width: 40rem;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    color: var(--siteTxt);
    background-color: var(--siteBg);
    
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}
.nav-button,
.post__delete, 
.form__submit {
    font-family: inherit;
    background-color: var(--buttonBg);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: .7rem;
    color: var(--siteBg);
    font-weight:600;
    text-transform: uppercase;
    padding: .5rem;
}
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

h1 { 
    flex-basis: 100%;
    text-align: center;
}
.nav-button:hover{
    background-color:var(--buttonHover);
}

.nav-button:active{
    background-color:var(--buttonHover);
}
main {
    width: 100%;
    flex-grow: 2;
}

footer {
    font-size: .7rem;
    color: var(--siteTxtAlt);
}

/* || Homepage styles */

.post {
    border-bottom: 1px solid var(--inputBg);
    padding: .5rem 0;
}
.post__title {
    font-size: 1.5rem;
    padding-right: 1rem;
    margin: 0;
}
.post__author {
    font-style: italic;
    margin: .2rem;
    font-size: .7rem;
}
.post__footer {
    display: flex;  
    justify-content: space-between;
    align-items: baseline;
    color:var(--siteTxtAlt);
}
.post__date {
    font-size: .7rem;
}

/* || Write page styles */

.form {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: .8rem;
}
.form__label {
    padding: .2rem 0;
}
.form__label::after {
    content: ":";
}
.form__input {
    font-size: inherit;
    background-color: var(--inputBg);
    border: none;
    padding: .2rem;
}
.form__input::placeholder,
.form__body::placeholder {
    color: var(--buttonBg);
    font-size: .8rem;
}
.form__body {
    grid-column: span 2;
    background-color: var(--inputBg);
    font: inherit;
    border: none;
    resize: none;
    min-height: 15rem;
    padding: .2rem;
}
.form__submit {
    grid-column: span 2;
}

/* || Error page styles */

.error__title {
    text-align: center;
}
.error__image {
  display: block;
  margin: 2rem auto;
  width: 80%;
  max-width: 50rem;
  height: auto;
}

.error__text {
    text-align: center;
    font-size: 2.5rem;
    color: var(--siteTxtAlt);
    margin: 0;
}