:root{
    --buttonBg: hsl(182,84%,40%);
    --buttonHover: hsl(182,84%,35%);
    --siteBg: hsl(179,10%,90%);
    --inputBg: hsl(179,10%,95%);
    --siteTxt: hsl(184,97%,10%);
    --siteTxtAlt: hsl(349, 83%,26%);
      
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: var(--siteTxt);
    background-color: var(--siteBg);
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

h2 {
    margin: 0;
}
.nav-button,
.post__delete, 
.form__submit {
    font-family: inherit;
    background-color: var(--buttonBg);
    text-decoration: none;
    border: none;
    padding: .5rem;
    border-radius: 5px;
    font-size: .7rem;
    color: var(--siteBg);
    font-weight:600;
    text-transform: uppercase;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
}

.nav-button:hover{
    background-color:var(--buttonHover);
}

.nav-button:active{
    background-color:var(--buttonHover);
}

main {
    flex-grow: 2;
}
article {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: .8rem;
}
.post__header,
.post__body,
.post__footer {
    display: flex;   
}
.post__header {
    flex-direction: column;
}

.post__footer {
    justify-content: space-between;
    align-items: baseline;
    color:var(--siteTxtAlt);
}
.post__title {
    font-size: 1.5rem;
    padding-right: 1rem;
}
.post__author {
    font-style: italic;
    margin: .2rem;
}
.post__date {
    font-size: .7rem;
}

.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form__label {
    width: 20%;
    margin-right:1rem;
}
.form__input {
    width: 70%;    background-color: var(--inputBg);
}
.form__body {
    width: 100%;
    margin: 1rem;
    align-self: center;
    background-color: var(--inputBg);

}
.error__title {
    text-align: center;
}
.error__image {
  display: block;
  margin-top:2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 50rem;
  height: auto;
}

.error__text {
    text-align: center;
    font-size: 3rem;
    color: var(--siteTxtAlt);
}

footer {
    font-size: .5rem;
    color: var(--siteTxtAlt);
}